
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
}

.three{
	height:80px;
	width:80px;
	background-color:green;
	font-size:40px;
}
.two{
	height:80px;
	width:80px;
	background-color:blue;
	font-size:40px;
}
.one{
	height:80px;
	width:80px;
	background-color:red;
	font-size:40px;
}